body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  .rounded-rectangle {
    width: 1400px;
    height: 750px;
    border: 1px solid  rgba(100, 123, 138, 0); 
    border-radius: 20px; 
    background-color: transparent; 
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 7px; 
  }

  .inner-square {
    width: 30px;
    height: 30px;
    background-color: #a4a4a4; 
    position: absolute;
    top: 91.8%;
    left: 91.8%;
    transform: translate(-50%, -50%);
    border-radius: 3px; 
  }

  .inner-square2 {
    width: 30px;
    height: 30px;
    background-color: #666666; 
    position: absolute;
    top: 91.8%;
    left: 94.4%;
    transform: translate(-50%, -50%);
    border-radius: 3px; 
  }